@import "tailwindcss";
@import "@heroui/styles";

:root {
  /* Override any color variable */
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

.swiper-button-next,
.swiper-button-prev {
  color: cyan !important;
  background: black;
  font-weight: 600;
  border-radius: 50%;
  border: 2px solid gray;
  width: 36px !important;
  height: 36px !important;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/*  */
